/* === ROOT TYPOGRAPHY VARIABLES AREA === */
:root {
  /* FONT FAM */
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  /* === FONT SIZE GÉNÉRAL === */

  /* FONT WEIGHTS */
  --fw-regular: 400;
  --fw-bold: 700;

  /* === FONT MOBILE === */
  --fs-mbl-base: 16px;
  --fs-mbl-xs: 0.65rem; /* 12px */
  --fs-mbl-sml: 0.875rem; /* 14px */
  --fs-mbl-mdm: 1rem; /* 16px */
  --fs-mbl-xl: 1.5rem; /* 24px */
  --fs-mbl-xxl: 2rem; /* 32px */

  --fs-mbl-bnr-h1: 1rem;
  --fs-mbl-bnr-h2: 2.5rem;
  --fs-mbl-bnr-h3: 2rem;

  --fs-mbl-h1: 1.75rem; /* 40px */
  --fs-mbl-h2: 1.5rem; /* 32px */
  --fs-mbl-h3: 1.25rem; /* 28px */
  --fs-mbl-h4: 1.5rem; /* 24px */

  /* === FONT TABLET === */
  --fs-tbt-base: ;
  --fs-tbt-xs: ;
  --fs-tbt-sml: ;
  --fs-tbt-mdm: ;
  --fs-tbt-xl: ;
  --fs-tbt-xxl: ;

  --fs-tbt-h1: ;
  --fs-tbt-h2: ;
  --fs-tbt-h3: ;
  --fs-tbt-h4: ;
  /* === FONT DESKTOP === */
  --fs-dkt-base: ;
  --fs-dkt-xs: ;
  --fs-dkt-sml: ;
  --fs-dkt-mdm: ;
  --fs-dkt-xl: ;
  --fs-dkt-xxl: ;

  --fs-dkt-h1: ;
  --fs-dkt-h2: ;
  --fs-dkt-h3: ;
  --fs-dkt-h4: ;
  /* === END FONT SIZE === */

  /* === LINE HEIGHTS MOBILE === */
  --lh-mbl-normal: 1.6;
  --lh-mbl-heading: 1.3;
  /* === LINE HEIGHTS TABLET === */
  --lh-tbt-normal: 1.6;
  --lh-tbt-heading: 1.3;
  /* === LINE HEIGHTS DESKTOP === */
  --lh-dkt-normal: 1.6;
  --lh-dkt-heading: 1.3;

  /* === COLORS AREA === */
  /* --color-box-head-back: #233554;
  --color-bkgd-ipt: #45507463;
  --color-bnr-h3: #8892b0;
  --color-txt: #a8b2d1;
  --color-hvr: #64ffda; */
  --color-bkgd-d: #0a192f; /* BACKGROUND DARK */
  --color-bkgd-w: #e6e6e6; /* BACKGROUND WHITE */
  --color-bkgd-hdr: #112240; /* BACKGROUND HEADER & FOOTER*/
  --color-txt-o: #bc660f; /* TITLE SECTION */
  --color-txt-w: #e6e6e6; /* TXT WHITE */
  --color-txt-d: #0a192f; /* TXT DARK */
  --color-txt-blue: #2a8dff; /* TXT BLUE */
  --color-txt-li: #e6e6e6; /* TXT LI RCTP */
  --color-txt-ctt: #ccd6f6; /* TXT CITATION */
}

/* === GLOBAL TYPOGRAPHY SETTINGS === */
html {
  font-size: var(--fs-base);
}

body {
  background-color: var(--color-bkgd-d);
  font-family: var(--font-secondary);
  color: var(--color-txt-d);
  margin: 0;
  padding: 0;
}

#rctp-anchor,
#book-anchor {
  background-color: #e6e6e6;
}
/* === HEADINGS === */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: var(--fw-bold);
  line-height: var(--lh-heading);
  color: var(--color-txt-d);
  margin: 0;
}
h2 {
  color: var(--color-txt-o);
}
h3 {
  color: var(--color-txt-w);
}
h2 i {
  color: var(--color-txt-o);
}
/* === PARAGRAPHS === */
p {
  line-height: var(--lh-mbl-normal);
  font-family: var(--font-primary);
  color: var(--color-txt-d);
  margin: 0 auto;
}
img {
  object-fit: cover;
  object-position: center;
}
/* === LINKS === */
a {
  color: var(--color-txt-d);
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: var(--color-hvr);
}
.footer a {
  color: var(--color-hvr);
}
i {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s;
  color: var(--color-icn);
}
i:hover {
  color: var(--color-hvr);
}
/* === LISTS AREA === */
ul,
ol {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
ul li {
  display: flex;
  color: var(--color-txt-d);
}
/* BUTTON AREA */
.icn-lnk {
  color: var(--color-txt-w);
  text-decoration: none;
}
.icn-lnk:hover {
  color: var(--color-hvr);
}
.btn-w,
.btn-d {
  cursor: pointer;
  font-weight: var(--fw-bold);
  border-radius: 6px;
  margin: 0.5em auto;
  padding: 0.5em;
}
.btn-w {
  background-color: var(--color-bkgd-w);
  color: var(--color-txt-blue);
  border: 1px solid var(--color-txt-blue);
}
.btn-d {
  background-color: var(--color-bkgd-d);
  color: var(--color-txt-blue);
  border: 1px solid var(--color-txt-blue);
}
/* .btn:hover {
  background-color: var(--color-hvr);
  color: var(--color-txt);
  border: 1px solid var(--color-bkgd);
} */

/* === RESPONSIVE TYPOGRAPHY === */

/* ====== MOB-XS ====== */
@media (max-width: 380px) {
  body {
    font-size: var(--fs-mbl-base);
    line-height: var(--lh-mbl-normal);
  }
  /* === HEADINGS === */
  h1 {
    font-size: var(--fs-mbl-xl);
    font-weight: var(--fw-bold);
  }
  h2 {
    font-size: var(--fs-mbl-xl);
    font-weight: var(--fw-bold);
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: var(--fs-mbl-mdm);
    font-weight: var(--fw-bold);
  }

  /* === PARAGRAPHS === */
  p {
    /* margin: 0.5em 0.5em; */
    font-size: var(--fs-mbl-sml);
  }

  /* === LINKS === */
  i {
    font-size: 1.5rem;
  }
  /* === LISTS AREA === */
  ul,
  ol {
    margin: 0;
    padding-left: 0;
    gap: 0.5em;
    font-size: var(--fs-mbl-sml);
  }

  li {
    margin: 0.5em 0;
    line-height: var(--lh-normal);
  }
  /* === BLOCKQUOTE === */
  blockquote {
    margin: 1em 0;
    padding: 1em;
    font-size: var(--fs-large);
  }
  /* BUTTON AREA */
  .icn-lnk {
    font-size: 1em;
    padding: 0.2em;
  }
  .btn {
    font-size: var(--fs-mbl-sml);
    border-radius: 8px;
    margin: 0.2em 0.2em;
    padding: 0.3em;
  }
  .btn-crs {
    color: var(--color-hvr);
    font-size: var(--fs-mbl-sml);
    width: calc(33.33% - 0vw);
    padding: 0.3em;
    border: 1px solid var(--color-hvr);
    background-color: var(--color-bkgd-hdr);
  }
}
/* ====== MOB-S ====== */
@media (min-width: 381px) and (max-width: 575px) {
  body {
    font-size: var(--fs-mbl-base);
    line-height: var(--lh-mbl-normal);
  }
  /* === HEADINGS === */
  h1 {
    font-size: var(--fs-mbl-h1);
    font-weight: var(--fw-bold);
  }
  h2 {
    font-size: var(--fs-mbl-h2);
    font-weight: var(--fw-bold);
  }
  h3 {
    font-size: var(--fs-mbl-h3);
    font-weight: var(--fw-bold);
  }
  h4 {
    font-size: var(--fs-mbl-h4);
    font-weight: var(--fw-bold);
  }
  h5,
  h6 {
    font-size: 1.25rem;
  }
  /* === PARAGRAPHS === */
  p {
    /* margin: 0.5em 0.5em; */
    font-size: var(--fs-mbl-sml);
  }

  /* === LINKS === */
  i {
    font-size: 1.5rem;
  }
  /* === LISTS AREA === */
  ul,
  ol {
    margin: 1em 0;
    padding-left: 1.5em;
    font-size: var(--fs-mbl-sml);
  }

  li {
    margin: 0.5em 0;
    line-height: var(--lh-normal);
  }
  /* === BLOCKQUOTE === */
  blockquote {
    margin: 1em 0;
    padding: 1em;
    font-size: var(--fs-large);
  }
  /* BUTTON AREA */
  .icn-lnk {
    font-size: 1em;
    padding: 0.2em;
  }
  .btn {
    font-size: var(--fs-mbl-sml);
    border-radius: 8px;
    margin: 0.2em 0.2em;
    padding: 0.3em;
  }
  .btn-crs {
    color: var(--color-hvr);
    font-size: var(--fs-mbl-sml);
    width: calc(33.33% - 0vw);
    padding: 0.3em;
    border: 1px solid var(--color-hvr);
    background-color: var(--color-bkgd-hdr);
  }
}
/* ====== MOB-M-PORT ====== */
@media (min-width: 576px) and (orientation: portrait) {
  body {
    font-size: var(--fs-mbl-base);
    line-height: var(--lh-mbl-normal);
  }
  /* === HEADINGS === */
  h1 {
    font-size: var(--fs-mbl-h1);
    font-weight: var(--fw-bold);
  }
  h2 {
    font-size: var(--fs-mbl-h2);
    font-weight: var(--fw-bold);
  }
  h3 {
    font-size: var(--fs-mbl-h3);
    font-weight: var(--fw-bold);
  }
  h4 {
    font-size: var(--fs-mbl-h4);
    font-weight: var(--fw-bold);
  }
  h5,
  h6 {
    font-size: 1.25rem;
  }
  /* === PARAGRAPHS === */
  p {
    /* margin: 0.5em 0.5em; */
    font-size: var(--fs-mbl-mdm);
  }

  /* === LINKS === */
  i {
    font-size: 1.5rem;
  }
  /* === LISTS AREA === */
  ul,
  ol {
    margin: 1em 0;
    padding-left: 1.5em;
    font-size: var(--fs-mbl-sml);
  }

  li {
    margin: 0.5em 0;
    line-height: var(--lh-normal);
  }
  /* === BLOCKQUOTE === */
  blockquote {
    margin: 1em 0;
    padding: 1em;
    font-size: var(--fs-large);
  }
  /* BUTTON AREA */
  .icn-lnk {
    font-size: 1em;
    padding: 0.2em;
  }
  .btn {
    font-size: var(--fs-mbl-mdm);
    border-radius: 8px;
    margin: 0.2em 0.2em;
    padding: 0.3em;
  }
  .btn-crs {
    color: var(--color-hvr);
    font-size: var(--fs-mbl-sml);
    width: calc(33.33% - 0vw);
    padding: 0.3em;
    border: 1px solid var(--color-hvr);
    background-color: var(--color-bkgd-hdr);
  }
}
/* ====== MOB-M-LAND ====== */
@media (min-width: 576px) and (orientation: landscape) {
}
/* ====== TABLET-S-PORT ====== */
@media (min-width: 768px) and (orientation: portrait) {
  :root {
    --fs-h1: 2rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.25rem;
  }
}
/* ====== TABLET-S-LAND ====== */
@media (min-width: 768px) and (orientation: landscape) {
  :root {
    --fs-h1: 2rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.25rem;
  }
}
/* ====== TABLET-M-PORT ====== */
@media (min-width: 992px) and (orientation: portrait) {
}
/* ====== TABLET-M-LAND ====== */
@media (min-width: 992px) and (orientation: landscape) {
}
/* ====== DESKTOP-M ====== */
@media (min-width: 1200px) {
  :root {
    --fs-h1: 2rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.25rem;
  }
}
/* ====== DESKTOP-L ====== */
@media (min-width: 1400px) {
}
