/* ====== MOB-S ====== */
@media (min-width: 381px) and (max-width: 575px) {
  body {
    max-width: 100vw;
  }
  main {
    margin-top: 5em;
    gap: 2.5em;
  }
  /* == WIDGET AREA == */
  .aside-left {
    display: none;
  }
  .aside-main {
    width: calc(100vw - 0vw);
    gap: 2em;
  }
  .section {
    width: calc(100vw - 10vw);
    margin: 0 auto;
    gap: 2em;
  }
  .section h2 {
    width: calc(90vw);
    gap: 0.5em;
  }
  /* === DESCRIPTION AREA === */
  .desc-h {
    width: calc(100vw - 20vw);
  }
  .desc-t {
    width: calc(100vw - 20vw);
    gap: 0.5em;
  }
  /* === END DESCRIPTION === */

  /* === ABOUT AREA === */
  .abt-ctn {
    width: calc(80vw - 0vw);
    gap: 2em;
  }
  .abt-skls {
    width: calc(80vw - 0vw);
    gap: 0.5em;
  }
  .abt-img {
    width: 100%;
    height: 80px;
    max-width: 80px;
  }
  /* === END ABOUT AREA === */

  /* === PARCOURS AREA === */
  .crs-table {
    width: calc(80vw - 0vw);
    margin: 2em auto;
    gap: 2em;
  }
  .crs-ctgy {
    border: 1px solid var(--color-hvr);
  }
  .crs-fdr {
  }
  .crs-b {
    width: 100%;
  }
  .crsb-h {
  }
  .crsbh-t {
    padding: 0.5em;
  }
  .crsbh-b {
    padding: 0.5em;
  }

  /* === END PARCOURS === */
}
