/* ====== MOB-XS ====== */
@media (max-width: 380px) {
  body {
    max-width: 100vw;
  }
  main {
    margin-top: 5em;
    gap: 2.5em;
  }
  /* == WIDGET AREA == */
  .aside-left {
    display: none;
  }

  /* === HOME AREA === */

  /* === END HOME AREA === */

  /* === RCT-PROJECT AREA === */

  /* === END RCT-PROJECT AREA === */

  /* === PROFIL AREA === */

  /* === END PROFIL AREA === */

  /* === PARCOURS AREA === */
  /* .crs-table {
    width: calc(80vw - 0vw);
    margin: 0 auto;
  }
  .crs-ctgy {
    border: 1px solid var(--color-hvr);
  }
  .crs-fdr {
  }
  .crs-b {
    width: 100%;
  }
  .crsb-h {
  }
  .crsbh-t {
    padding: 0.5em;
  }
  .crsbh-b {
    padding: 0.5em;
  } */
  /* === END PARCOURS === */
}
