/* ====== MOB-XS ====== */
@media (max-width: 380px) {
  .crs-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--color-bdr);
    border-radius: 4px;
    width: calc(90vw - 10vw);
    margin: 0 auto;
  }
  .crs-b-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-box-head-back);
    width: 100%;
    padding: 1em;
    height: 40px;
  }
  .crs-b-h h3 {
    font-weight: bold;
    font-size: 1em;
  }
  .crs-b-h-l {
    display: flex;
    gap: 0.5em;
  }
  .icn-lnk {
    font-size: 1em;
    padding: 0.2em;
    color: var(--color-txt);
    text-decoration: none;
  }
  .icn-lnk:hover {
    color: var(--color-hvr);
  }
  .crs-b-b {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .crs-b-b-d {
    display: flex;
    justify-content: space-between;
  }
  .crs-b-b-d-t {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
  }
}

/* ====== MOB-S ====== */
@media (min-width: 381px) and (max-width: 575px) {
}

/* ====== MOB-M-PORT ====== */
@media (min-width: 576px) and (orientation: portrait) {
}

/* ====== MOB-M-LAND ====== */
@media (min-width: 576px) and (orientation: landscape) {
}

/* ====== TABLET-S-PORT ====== */
@media (min-width: 768px) and (orientation: portrait) {
}

/* ====== TABLET-S-LAND ====== */
@media (min-width: 768px) and (orientation: landscape) {
}

/* ====== TABLET-M-PORT ====== */
@media (min-width: 992px) and (orientation: portrait) {
}

/* ====== TABLET-M-LAND ====== */
@media (min-width: 992px) and (orientation: landscape) {
}

/* ====== DESKTOP-M ====== */
@media (min-width: 1200px) {
}

/* ====== DESKTOP-L ====== */
@media (min-width: 1400px) {
}
