/* ====== MOB-XS ====== */
@media (max-width: 380px) {
  .desc-h h1 {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
  }
  .desc-h1 {
    color: var(--color-bnr-h1);
    font-size: var(--fs-mbl-bnr-h1);
  }
  .desc-h2 {
    color: var(--color-bnr-h2);
    font-size: var(--fs-mbl-bnr-h2);
  }
  .desc-h3 {
    color: var(--color-bnr-h3);
    font-size: var(--fs-mbl-bnr-h3);
  }
  .desc-t {
    display: flex;
    flex-direction: column;
    margin-left: vw;
  }
}

/* ====== MOB-S ====== */
@media (min-width: 381px) and (max-width: 575px) {
}

/* ====== MOB-M-PORT ====== */
@media (min-width: 576px) and (orientation: portrait) {
}

/* ====== MOB-M-LAND ====== */
@media (min-width: 576px) and (orientation: landscape) {
}

/* ====== TABLET-S-PORT ====== */
@media (min-width: 768px) and (orientation: portrait) {
}

/* ====== TABLET-S-LAND ====== */
@media (min-width: 768px) and (orientation: landscape) {
}

/* ====== TABLET-M-PORT ====== */
@media (min-width: 992px) and (orientation: portrait) {
}

/* ====== TABLET-M-LAND ====== */
@media (min-width: 992px) and (orientation: landscape) {
}

/* ====== DESKTOP-M ====== */
@media (min-width: 1200px) {
}

/* ====== DESKTOP-L ====== */
@media (min-width: 1400px) {
}
