/* ====== MOB-XS ====== */
@media (max-width: 380px) {
  footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--color-bkgd-hdr);
  }
  .footer-icn {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  .footer-t {
    display: flex;
    margin: 0 auto;
  }
}

/* ====== MOB-S ====== */
@media (min-width: 381px) and (max-width: 575px) {
}

/* ====== MOB-M-PORT ====== */
@media (min-width: 576px) and (orientation: portrait) {
}

/* ====== MOB-M-LAND ====== */
@media (min-width: 576px) and (orientation: landscape) {
}

/* ====== TABLET-S-PORT ====== */
@media (min-width: 768px) and (orientation: portrait) {
}

/* ====== TABLET-S-LAND ====== */
@media (min-width: 768px) and (orientation: landscape) {
}

/* ====== TABLET-M-PORT ====== */
@media (min-width: 992px) and (orientation: portrait) {
}

/* ====== TABLET-M-LAND ====== */
@media (min-width: 992px) and (orientation: landscape) {
}

/* ====== DESKTOP-M ====== */
@media (min-width: 1200px) {
}

/* ====== DESKTOP-L ====== */
@media (min-width: 1400px) {
}
