.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-color: var(--color-bkgd-hdr);
  border-top: 1px solid var(--color-hvr);
  position: fixed;
  bottom: 0;
}
.footer-cookie {
  display: flex;
}
.footer-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-icn {
  display: flex;
  justify-content: space-around;
}
.footer-icn p {
  margin: 0;
}
.footer-anchor {
  display: flex;
}
/* ====== MOB-XS ====== */
@media (max-width: 380px) {
  .footer {
    width: calc(100vw);
    padding: 0.5em;
  }
  .footer-cookie {
    margin: 0.5em;
    width: 10%;
  }
  .footer-middle {
    width: 80%;
  }
  .footer-icn {
    width: 100%;
  }
  .footer-t {
  }
  .footer-anchor {
    margin: 0.5em;
    width: 10%;
  }
}

/* ====== MOB-S ====== */
@media (min-width: 381px) and (max-width: 575px) {
  .footer {
    width: calc(100vw);
    padding: 0.5em;
  }
  .footer-cookie {
    margin: 0.5em;
    width: 10%;
  }
  .footer-middle {
    width: 80%;
  }
  .footer-icn {
    width: 100%;
  }
  .footer-t {
  }
  .footer-anchor {
    margin: 0.5em;
    width: 10%;
  }
}

/* ====== MOB-M-PORT ====== */
@media (min-width: 576px) and (orientation: portrait) {
  .footer {
    width: calc(100vw);
    padding: 0.5em;
  }
  .footer-cookie {
    margin: 0.5em;
    width: 10%;
  }
  .footer-middle {
    width: 80%;
  }
  .footer-icn {
    display: none;
  }
  .footer-t {
  }
  .footer-anchor {
    margin: 0.5em;
    width: 10%;
  }
}

/* ====== MOB-M-LAND ====== */
@media (min-width: 576px) and (orientation: landscape) {
  .footer {
    width: calc(100vw);
    padding: 0.5em;
  }
  .footer-cookie {
    margin: 0.5em;
    width: 10%;
  }
  .footer-middle {
    width: 80%;
  }
  .footer-icn {
    display: none;
  }
  .footer-t {
  }
  .footer-anchor {
    margin: 0.5em;
    width: 10%;
  }
}

/* ====== TABLET-S-PORT ====== */
@media (min-width: 768px) and (orientation: portrait) {
  .footer {
    width: calc(100vw);
    /* padding: 0.5em; */
  }
  .footer-cookie {
    /* margin: 0.5em;
    width: 10%; */
  }
  .footer-middle {
    /* width: 80%; */
  }
  .footer-icn {
    display: none;
  }
  .footer-t {
  }
  .footer-anchor {
    /* margin: 0.5em;
    width: 10%; */
  }
}

/* ====== TABLET-S-LAND ====== */
@media (min-width: 768px) and (orientation: landscape) {
}

/* ====== TABLET-M-PORT ====== */
@media (min-width: 992px) and (orientation: portrait) {
}

/* ====== TABLET-M-LAND ====== */
@media (min-width: 992px) and (orientation: landscape) {
}

/* ====== DESKTOP-M ====== */
@media (min-width: 1200px) {
}

/* ====== DESKTOP-L ====== */
@media (min-width: 1400px) {
}
