/* ====== MOB-XS ====== */
@media (max-width: 380px) {
  /* == FORMULAIRE AREA == */
  .form-ctn {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-bdr);
    border-radius: 4px;
    margin-bottom: 10em;
    gap: 1em;
  }
  .form-ask {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
  }
  .form-ipt {
    display: flex;
    justify-content: space-between;
  }
  .form-lbl {
    width: 40%;
  }
  .form-aswr {
    width: 60%;
    background-color: var(--color-box-head-back);
    border: 1px solid var(--color-bdr);
    border-radius: 4px;
  }
  .form-ifs {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
  .form-ifs-t {
  }
  .form-ifs-icn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .check-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .privacy-data {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  .form-btn {
    background-color: var(--color-bkgd);
    color: var(--color-txt-hvr);
    border: 1px solid var(--color-bdr);
    font-size: 1em;
    font-weight: bold;
    border-radius: 8px;
    padding: 0.5em;
  }
}

/* ====== MOB-S ====== */
@media (min-width: 381px) and (max-width: 575px) {
}

/* ====== MOB-M-PORT ====== */
@media (min-width: 576px) and (orientation: portrait) {
}

/* ====== MOB-M-LAND ====== */
@media (min-width: 576px) and (orientation: landscape) {
}

/* ====== TABLET-S-PORT ====== */
@media (min-width: 768px) and (orientation: portrait) {
}

/* ====== TABLET-S-LAND ====== */
@media (min-width: 768px) and (orientation: landscape) {
}

/* ====== TABLET-M-PORT ====== */
@media (min-width: 992px) and (orientation: portrait) {
}

/* ====== TABLET-M-LAND ====== */
@media (min-width: 992px) and (orientation: landscape) {
}

/* ====== DESKTOP-M ====== */
@media (min-width: 1200px) {
}

/* ====== DESKTOP-L ====== */
@media (min-width: 1400px) {
}
