/* === HEADER AREA === */
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bkgd-hdr);
  z-index: 1;
}
.logo img {
  object-fit: contain;
  object-position: center;
}
/* === MENU AREA === */
.menu {
  display: none;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.menu.active {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bkgd-hdr);
  transform: translateY(0);
}
.btn-menu {
  display: flex;
  align-items: center;
  transition: color 0.3s;
}
.btn-menu i {
  color: var(--color-hvr);
}
.menu-btn:hover {
  color: var(--color-hvr);
}
/* === ICN-BURGER AREA === */
.menu-toggle {
  display: flex;
  color: var(--color-hvr);
  cursor: pointer;
  background: none;
  border: none;
}
/* === HEADER AREA === */

/* ====== MOB-XS ====== */
@media (max-width: 380px) {
  header {
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
  }
  /* === LOGO AREA === */
  .logo {
    width: 150px;
    margin-left: 1em;
  }
  .logo img {
    width: 100%;
  }
  /* === MENU AREA === */
  .menu {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .menu.active {
    top: 50px;
    width: 100%;
    gap: 1em;
    opacity: 1;
  }
  .btn-menu {
    margin: 0 auto;
    padding: 0.5em;
    gap: 1em;
  }

  /* === ICN-BURGER AREA === */
  .menu-toggle {
    font-size: 1.5em;
    margin-right: 1em;
  }
}

/* ====== MOB-S ====== */
@media (min-width: 381px) and (max-width: 575px) {
  header {
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
  }
  /* === LOGO AREA === */
  .logo {
    width: 150px;
  }
  .logo img {
    width: 100%;
  }
  /* === MENU AREA === */
  .menu {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .menu.active {
    top: 50px;
    width: 100%;
    gap: 1em;
    opacity: 1;
  }
  .btn-menu {
    margin: 0 auto;
    padding: 0.5em;
    gap: 1em;
  }

  /* === ICN-BURGER AREA === */
  .menu-toggle {
    font-size: 1.5em;
  }
}

/* ====== MOB-M-PORT ====== */
@media (min-width: 576px) and (orientation: portrait) {
  header {
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
  }
  /* === LOGO AREA === */
  .logo {
    width: 150px;
  }
  .logo img {
    width: 100%;
  }
  /* === MENU AREA === */
  .menu {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .menu.active {
    top: 50px;
    width: 100%;
    gap: 1em;
    opacity: 1;
  }
  .btn-menu {
    margin: 0 auto;
    padding: 0.5em;
    gap: 1em;
  }

  /* === ICN-BURGER AREA === */
  .menu-toggle {
    font-size: 1.5em;
  }
}

/* ====== MOB-M-LAND ====== */
@media (min-width: 576px) and (orientation: landscape) {
  header {
    flex-direction: column;
    width: calc(20vw);
    height: 100%;
    top: 0;
    left: 0;
  }
  /* === LOGO AREA === */
  .logo {
    position: fixed;
    top: 10vh;
    padding: 0.5em;
    width: 20vw;
  }
  .logo img {
    width: 100%;
  }
  /* === MENU AREA === */
  .menu {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .menu.active {
    top: 200px;
    gap: 1em;
    opacity: 1;
  }
  .btn-menu {
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
    gap: 1em;
  }

  /* === ICN-BURGER AREA === */
  .menu-toggle {
    display: flex;
    font-size: 1.5em;
  }
}

/* ====== TABLET-S-PORT ====== */
@media (min-width: 768px) and (orientation: portrait) {
  .menu {
    display: none; /* Caché par défaut */
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    width: 100%;
    text-align: right;
    padding: 10px 20px;
  }

  .menu.active {
    display: flex; /* Affiche le menu */
  }

  .menu a {
    padding: 10px 0;
    border-bottom: 1px solid #444;
  }

  .menu-toggle {
    display: block; /* Affiché uniquement en mode mobile */
  }
}

/* ====== TABLET-S-LAND ====== */
@media (min-width: 768px) and (orientation: landscape) {
}

/* ====== TABLET-M-PORT ====== */
@media (min-width: 992px) and (orientation: portrait) {
}

/* ====== TABLET-M-LAND ====== */
@media (min-width: 992px) and (orientation: landscape) {
}

/* ====== DESKTOP-M ====== */
@media (min-width: 1200px) {
}

/* ====== DESKTOP-L ====== */
@media (min-width: 1400px) {
}
