/* ====== MOB-XS ====== */
@media (max-width: 380px) {
  /* == ARCHIVE PROJECTS AREA == */
  .ap-ctn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }
  .ap-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--color-bdr);
    border-radius: 4px;
    width: calc(90vw - 10vw);
  }
  .apb-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-box-head-back);
    width: 100%;
    height: 40px;
    padding: 1em;
  }
  /* .apbh h3:hover {
    color: var(--color-pagination);
  } */
  .apbh-l {
    display: flex;
    align-items: center;
    /* width: 30%;
    margin-right: 1rem; */
  }
  .apbh-l a {
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
  }
  .apb-b {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    padding: 1em;
  }
  .apbb-h {
    display: flex;
    justify-content: space-between;
    /* padding: 1em; */
  }
  .apbb-b {
    display: flex;
    /* padding: 1em; */
    color: var(--color-txt);
  }
  .apbb-f {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
  }
  /* == END ARCHIVE PROJECTS AREA == */
}

/* ====== MOB-S ====== */
@media (min-width: 381px) and (max-width: 575px) {
}

/* ====== MOB-M-PORT ====== */
@media (min-width: 576px) and (orientation: portrait) {
}

/* ====== MOB-M-LAND ====== */
@media (min-width: 576px) and (orientation: landscape) {
}

/* ====== TABLET-S-PORT ====== */
@media (min-width: 768px) and (orientation: portrait) {
}

/* ====== TABLET-S-LAND ====== */
@media (min-width: 768px) and (orientation: landscape) {
}

/* ====== TABLET-M-PORT ====== */
@media (min-width: 992px) and (orientation: portrait) {
}

/* ====== TABLET-M-LAND ====== */
@media (min-width: 992px) and (orientation: landscape) {
}

/* ====== DESKTOP-M ====== */
@media (min-width: 1200px) {
}

/* ====== DESKTOP-L ====== */
@media (min-width: 1400px) {
}
