@import url("./assets/css/font.css");
@import url("./assets/css/responsive-mobile-XS.css");
@import url("./assets/css/responsive-mobile-S.css");
@import url("./assets/css/responsive-mobile-M-P.css");
@import url("./assets/css/responsive-mobile-M-L.css");
@import url("./assets/css/responsive-tablet-S-P.css");
@import url("./assets/css/responsive-tablet-S-L.css");
@import url("./assets/css/responsive-tablet-M-P.css");
@import url("./assets/css/responsive-tablet-M-L.css");
@import url("./assets/css/responsive-desktop-M.css");
@import url("./assets/css/responsive-desktop-L.css");

/* SETTINGS AREA */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== BODY AREA ===== */
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* ==== MAIN AREA ==== */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* == WIDGET AREA == */
.aside-left {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
}
.aside-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 0vw);
  gap: 2em;
}
/* END ASIDE */

/* == SECTION AREA == */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 2em;
}
.section h2 {
  display: flex;
  align-items: center;
  margin: 0.5em auto;
  gap: 0.5em;
}

/* === HOME AREA === */
.home-ctn {
  display: flex;
  flex-direction: column-reverse;
  width: calc(90vw - 0vw);
  gap: 2em;
}
.home-img {
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  width: 100%;
}
.home-h {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  gap: 1em;
}
.home-h h1 {
  display: flex;
  flex-direction: column;
}
.home-h1 {
  color: var(--color-txt-blue);
}
.home-h2 {
  color: var(--color-txt-w);
}
.home-h p {
  color: var(--color-txt-ctt);
}
/* === END HOME AREA === */

/* === RCT-PROJECT AREA === */
.rctp-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 0vw);
  gap: 2em;
}
.rctp-folder {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.rctp-fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(90vw - 0vw);
  gap: 1em;
}
.rctp-fig-img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
}
.rctp-figc {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5em;
  gap: 0.5em;
}
.rctp-figc h3 {
  display: flex;
  justify-content: center;
  background-color: var(--color-txt-blue);
  color: var(--color-txt-w);
  border-radius: 6px;
  padding: 0.2em;
}
.rctp-figc p {
  color: var(--color-txt-d);
  padding: 0.2em;
}
.rctp-figc ul {
  flex-direction: row;
}
.rctp-figc ul li {
  background-color: var(--color-bkgd-d);
  color: var(--color-txt-w);
  font-weight: var(--fw-regular);
  border-radius: 6px;
  padding: 0.5em;
}
.rctp-figc h4 {
  color: var(--color-txt-blue);
  padding: 0.2em;
}
/* === END RCT-PROJECT AREA === */

/* === PROFIL AREA === */
.pfl-ctn {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  gap: 2em;
}
.pfl-ctn p {
  color: var(--color-txt-w);
  padding: 0.2em;
}
.pfl-ctn h3 {
  color: var(--color-txt-w);
}
.pfl-lskl {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.pfl-bskl {
  display: flex;
  align-items: center;
}
.pfl-fig {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pfl-fig img {
  width: 100%;
  max-width: 100px;
}
.pfl-figc {
}
.pfl-cv {
  display: flex;
  flex-direction: column;
}
/* === END PROFIL AREA === */

/* === BOOK AREA === */
.book-ctn {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  gap: 2em;
}
.book-fig {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(90vw - 0vw);
  gap: 1em;
}
.book-fig img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: auto;
}
.book-figc {
  display: flex;
  flex-direction: column;
}
.book-figc h3 {
  display: flex;
  justify-content: center;
  background-color: var(--color-txt-blue);
  color: var(--color-txt-w);
  border-radius: 6px;
  padding: 0.2em;
}
.book-figc p {
  color: var(--color-txt-d);
  padding: 0.2em;
}
.book-figc ul {
  flex-direction: row;
}
.book-figc ul li {
  background-color: var(--color-bkgd-d);
  color: var(--color-txt-w);
  font-weight: var(--fw-regular);
  border-radius: 6px;
  padding: 0.5em;
}

/* === END BOOK AREA === */

/* === ARCHIVES AREA === */
.acv-ctn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.acv-fdr {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-bdr);
  border-radius: 4px;
  width: calc(90vw - 10vw);
}
.acvf-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-box-head-back);
  width: 100%;
  height: 60px;
  padding: 1em;
}
.acvf-h h3 {
  display: flex;
  color: var(--color-txt-w);
  padding: 0.2em;
}
.acvf-lnk {
  display: flex;
  align-items: center;
}
.acvf-lnk a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}
.acvf-b {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
}
.acvf-b h4 {
  padding: 0.2em;
}
.acvf-b p {
  display: flex;
  padding: 0.2em;
  color: var(--color-txt-w);
}
.acvf-b ul {
  display: flex;
  flex-direction: column;
  padding: 0.2em;
  gap: 1em;
}
.acvf-b ul span {
  display: flex;
  flex-direction: column;
  color: var(--color-txt-w);
  padding: 0.2em;
  gap: 1em;
}
.acvf-b ul li {
  display: flex;
  flex-direction: column;
  color: var(--color-txt-w);
  font-weight: var(--fw-regular);
  padding: 0.2em;
  gap: 1em;
}
/* === END ARCHIVES AREA === */

/* === CONTACT AREA === */
.ctt-ctn {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: calc(100vw - 0vw);
}

/* === END CONTACT AREA === */
